
.product-container {
  align-content: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  /* Overall container for desktop layout */
  .product-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* Top level items in flex container */
.product-info-item {
  display: flex;
  align-items: center;
  
}
@media only screen and (min-width: 640px) {
  .product-info-item {
    flex-basis: calc(100% / 2);
    align-items: flex-start;
  }

}

@media (max-width: 480px) {
  .find-in-store {
    display: none;
  }
  .share-buttons {
    font-size: .5em;
  }
  .return-header {
    font-size: 1em;
  }
  .return-description {
    font-size: .2em;
  }
}

/* ProductOffers, Promos, PurchaseContainer & ProductHighlights */
.product-info-item.product-group {
  flex-direction: column;
}

/* Main Product Info */

.selected-product {
  min-width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.primary-image {
  margin-bottom: 5em;
}

.product-title {
  font-size: 1.4em;
  text-align: center;
  padding-bottom: 2em;
}

/* Price */

.product-offers {
  display: flex;
  align-items: baseline;
  margin-left: 1em;
  margin-bottom: 3em;
}

.formatted-price {
  font-size: 1.3em;
  margin-right: 1em;
  font-weight: 700;
}

.price-qualifier {
  margin-right: auto;
}

/* Product Highlights */

.product-highlights-container {
  margin-left: 2em;
  display: flex;
  flex-direction: column;
}

.product-highlights-title {
  font-size: 1.3em;
  font-weight: 700;
}

.product-features {
  margin-top: 1em;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  font-size: .7em;
}

.product-features li {
  font-size: 1em;
}

/* Promos */

.promotions {
  margin: 10px;
  list-style-type: circle;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
}

.promotions li {
  color: red;
}

/* Purchase Option buttons */

.purchase-item {
  font-size: .8em;
  display: inline-block;
}

.purchase-section {
  width: 100%;
}

.buy-button {
  color: white;
  font-size: 1em;
  border: none;
  display: inline-block;
  border-radius: 2px;
  padding: 5px 15px;
  width: 12em;
}

#add-to-cart {
  background-color: red;
}

#pickup-in-store {
  background-color: black;
  margin-right: 3em;

}

.gray-button {
  font-size: .8em;
  background-color: #f6f4f5;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  margin: .5em;
  width: 30%;
}

/* Return Policy */

.return-policy {
  color: gray;
  padding-right: 0px;
}

.return-header{
  display: inline-block;
  margin-right: .3em;
  padding-right: 1em;
  border-right: 1px solid gray;
}

.return-description {
  width: 80%;
  font-size: .7em;
  display: inline-block;
  padding-left: 1em;
}

/* Reviews Styling */

.customer-review-container {
  background-color: #F6F4F5;
  margin: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.overall-info {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.pro-con-info {
  display: flex;
  flex-direction: row;
}

.pro-con-row {
  margin-right: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.pro-con-sublabel {
  font-size: 0.8em;
  font-weight: 400;
  margin-bottom: 1em;
}

.review-details {
  display: flex;
  flex-direction: column;
}

.review-title {
  font-size:1em;
  font-weight: 700;
  margin-top: .3em;
  margin-bottom: .5em;
}

.review-body {
  font-size: 0.8em;
  font-weight: 400;
}

.review-screen-name {
  margin-top: .3em;
  font-size: 0.8em;
  color: blue;
}

.overall-info {
  font-weight: 500;
}

.date-posted {
  color: black;
}

/* Counter */

.counter {
  display: inline-block;
  border: 1px grey solid;
  width: 300px;
  flex-direction: column;
  margin-bottom: 2em;
}

.counter-btn {
  display: inline-block;
  background-color: lightslategrey;
  border: none;
  border-radius: 25px;
  font-size: 1.5em;
  color: white;
}